<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous">
  <title>All articles</title>
</head>
<body data-bs-theme="dark">
{% include "nav.html" %}
<div class="container-xl my-5">
  <h4 class="text-center">
    Some words about this website
  </h4>
  <h5 class="text-center my-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit nulla et vestibulum semper. Aliquam erat
    volutpat. Etiam pharetra sollicitudin augue, ut tincidunt ligula egestas eget. Donec quis finibus massa. Proin
    semper placerat turpis, in commodo elit luctus quis. Nulla scelerisque ornare ullamcorper. Integer et erat at sapien
    sagittis consectetur. Curabitur eget tincidunt nibh, ut blandit ligula. Integer auctor turpis ac libero consequat
    porta. Sed sodales ante nunc, et lacinia sapien viverra in. Fusce tincidunt sapien lacinia erat ullamcorper, et
    semper risus condimentum. Praesent eget lobortis quam, eget finibus mi. Nulla porta, leo quis tincidunt scelerisque,
    enim lorem bibendum arcu, id tempus quam nisi placerat eros. In faucibus ipsum ut lectus dictum posuere.
    Vivamus facilisis nec nisl vitae pulvinar. Sed erat sapien, gravida sit amet nisi eu, eleifend venenatis erat. Nam
    consequat velit sed sagittis euismod. Aenean vitae tellus condimentum, accumsan lectus vel, laoreet libero. Morbi in
    sagittis lorem. Mauris non laoreet velit. Curabitur et ex et diam pretium vehicula. Duis orci ante, ornare vel augue
    a, iaculis efficitur tortor.<br>
    In porta aliquet accumsan. Phasellus id tristique risus. Cras vitae justo in ex vehicula venenatis. Morbi mattis
    lobortis pretium. Suspendisse luctus consectetur libero. Maecenas consectetur aliquam dolor et dignissim. Sed in
    aliquam tortor, vitae molestie lacus. Phasellus tincidunt tincidunt mattis. Aliquam erat volutpat. Donec congue sem
    turpis, eget cursus ante rutrum a.
  </h5>
</div>
<script src="https://unpkg.com/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
</script>
</body>
</html>