<div class="card col-3">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
    <div class="mb-2">
      <span class="badge rounded-pill text-bg-info">Tag 1</span>
      <span class="badge rounded-pill text-bg-info">Tag 2</span>
      <span class="badge rounded-pill text-bg-info">Tag 3</span>
    </div>
    <a href="../article" class="btn btn-primary">Go somewhere</a>
  </div>
</div>