<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous">
  <title>All articles</title>
</head>
{% if is_light_theme %}
<body>
{% else %}
<body data-bs-theme="dark">
{% endif %}
{% include "nav.html" %}
<div class="container-xl my-5">
  <div id="liveAlertPlaceholder" class="row justify-content-center">
    {% if is_new_article_added %}
      <div class="alert alert-success d-flex p-2 align-items-center justify-content-center col-6" role="alert">
        <h3>
          Your new article has been added
        </h3>
      </div>
    {% endif %}
    {% if is_article_deleted %}
      <div class="alert alert-warning d-flex p-2 align-items-center justify-content-center col-6" role="alert">
        <h3>
          Article was successfully deleted
        </h3>
      </div>
    {% endif %}
  </div>
  <div class="row justify-content-evenly">
    <h2 class="text-center col">
      Here are all your articles
    </h2>
  </div>

  {% if card is defined %}
    <div class="row justify-content-evenly my-5" style="height: 400px;">
      <div class="card col-3 text-center d-flex justify-content-center border-success">
        <div class="align-self-center">
          <form action="../new_article" method="GET">
            <button type="submit" class="btn btn-{{ 'light' if is_light_theme else 'dark' }} mx-2 p-0">
              <img
                      class=""
                      src="../static/images/{{ 'light' if is_light_theme else 'dark' }}/plus_icon_success.png"
                      alt="new card"
                      width="30"
              >
            </button>
            <h5 class="text-success mt-1">
              Add your new article!
            </h5>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
  {% for card in cards %}
    {% if (loop.index0 % 3 == 0) %}
      {% if loop.first %}
        <div class="row justify-content-evenly my-5">
          <div class="card col-3 text-center d-flex justify-content-center border-success">
            <div class="align-self-center">
              <form action="../new_article" method="GET">
                <button type="submit" class="btn btn-{{ 'light' if is_light_theme else 'dark' }} mx-2 p-0">
                  <img
                        class=""
                        src="../static/images/{{ 'light' if is_light_theme else 'dark' }}/plus_icon_success.png"
                        alt="new card"
                        width="30"
                >
                </button>
                <h5 class="text-success">
                  Add new article
                </h5>
              </form>
            </div>
          </div>
      {% else %}
        <div class="row justify-content-evenly my-5">
          {% include "article_card.html" %}
      {% endif %}
      {% if loop.last %}
        </div>
      {% endif %}
    {% elif (loop.index0 % 3 == 1) %}
      {% include "article_card.html" %}
      {% if loop.last %}
        </div>
      {% endif %}
    {% elif (loop.index0 % 3 == 2) %}
      {% include "article_card.html" %}
      </div>
    {% else %}
      {% include "article_card.html" %}
    {% endif %}
  {% endfor %}
</div>
<script src="https://unpkg.com/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
</script>
</body>
</html>